
<template>
<div class="container">
<div class="jumbotron">
<h1>Certain-Lending</h1>
<h3 class="text-muted"> Borrow Confidently </h3>
 <h3 class="text-muted">Your financing partner for business purpose real estate loans</h3>
</div>
<div>
    <h4>Our Mission</h4>
<h4 class="text-muted">Real estate entrepreneurs play a vital role in the housing economy, taking on risk to create the inventory that homebuyers and renters seek out. We believe that every aspect of this small business ecosystem can be improved with software and we aim to help our customers grow and thrive.</h4>
</div>
</div>
</template>
<script>
/**
 * @author:Vaibhav Dave
 * @since: 03/09/2018
 */
export default{
    data(){
        return{
        }
    },
    methods:{
    
    }
}
</script>


<style scoped>
h1, h2, h3, h4 {
  text-align: center;
}
</style>
