<template>
  <div>
    <h1>Property Information</h1>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Enter Full Address" v-model="addr" required/><br/>
        <input type="number" class="form-control" placeholder="Zipcode" v-model="zip" required/><br/>
        <button @click="show()" class="btn btn-danger">Find</button>
    </div>
    <div v-if="showInfo">

        <div class="card" style="width: 60vw;">
            <iframe class="card-img-top" width="600" height="450" frameborder="1" style="border:1" v-bind:src="mapUrl" allowfullscreen> </iframe>
            <div class="card-block">
                <h4 class="card-title">Information</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">City: {{city}}</li>
                    <li class="list-group-item">FIPS County: {{county_fips}}</li>
                    <li class="list-group-item">Block ID: {{block_id}}</li>
                    <li class="list-group-item">ZipCode: {{zipcode}}</li>
                    <li class="list-group-item">Blockgroup_ID: {{blockgroup_id}}</li>
                    <li class="list-group-item">State: {{state}}</li>
                    <li class="list-group-item">MSA: {{msa}}</li>
                    <li class="list-group-item">Metro Division: {{metrodiv}}</li>
            </ul>
        </div>          
    </div>
    <div v-if="showErrorDiv">
        <div class="alert alert-danger">
            <strong>Error!&nbsp</strong> <p>{{errormsg}}</p>
        </div>                  
    </div>
</div>
</template>

<script>

/**
 * @author:Vaibhav Dave
 * @since: 03/09/2018
 */

import Axios from 'axios'
export default {
  data () {
    return {
        addr:"",
        zip:"",
        showInfo : false,
        url: '',
        error: '',
	    city: '',
        county_fips: '',
        geo_precision: '',
        block_id: '',
        zipcode: '',
        blockgroup_id: '',
        address_full: '',
        state: '',
        msa: '',
        metrodiv: '',
        address: '',
        lat: '',
        lng: '',
        mapsrc:'',
        errormsg:'',
        showErrorDiv:false
    }
  },
computed: {
    mapUrl() {
      return this.mapsrc;
    }
  },

methods:{     

    /**
     * This function indicates the api to start its functions
     * Fetches data from the api.
     *
     * @augments void  
     * 
    */
    show(){
       var obj = this;
       var erroccured = false;
       
       Axios.get('https://api.housecanary.com/v2/property/geocode?address='+this.addr+'&zipcode='+this.zip,
                {'headers':{'Authorization':'Basic QklKVktaTDhST1BYNU1YSk03N1c6QWlrRkNOTGZ6NFJNNDVFaXJGcUkyRkxWeWsxa3VscWQ='}})
            .then(function(response){                
                 obj.updateInfo(response.data[0].address_info);
                 console.log(response);
            }).catch(function(error){
                erroccured = true;     
                console.log(response);           
            });
      this.showInfo = true;
      this.showErrorDiv = erroccured;
      if(erroccured){
          this.showInfo = false;
          this.errormsg = "Something went wrong please try again later"
      }
    },
    /**
     * This function calls the navigator 
     * @augments void */
    callNavigator () {		
	    if(navigator.geolocation){
	    navigator.geolocation.getCurrentPosition(this.showPosition);
	    }else{
	      this.error = "Geolocation is not supported.";  
	    }
    },
    /**
     * This function will help storing the current latitude and longitute of the user
     * @augments object of position
     * 
     *  */
    showPosition:function (position) {	
		this.lat = position.coords.latitude;
        this.lon = position.coords.longitude;
        console.log(this.lat+" "+this.lon);
	},

/**
 * This function will update all the values as acquired from the API
 * @augments An Object of data.address_info */
    updateInfo(obj){
        this.city= obj.city;
        this.county_fips= obj.county_fips;
        this.geo_precision= obj.geo_precision;
        this.block_id= obj.block_id;
        this.zipcode= obj.zipcode;
        this.blockgroup_id= obj.blockgroup_id;
        this.address_full= obj.address_full;
        this.state= obj.state;
        this.msa= obj.msa;
        this.metrodiv= obj.metrodiv;
        this.address= obj.address;
        this.lat= obj.lat;
        this.lng= obj.lng;
        this.mapsrc = 'https://www.google.com/maps/embed/v1/view?key=AIzaSyBFcm7Y4AlyNAC4HBuptnhrS1eUI9KGzpY&center='
        +this.lat+','+this.lng+'&zoom=18&maptype=satellite';

        if(!this.addr){
          this.showErrorDiv = true;  
          this.showInfo = false;
          this.errormsg = "Incorrect Address Information" ;      
        }
        if(!this.city){
          this.showErrorDiv = true;  
          this.showInfo = false;
          this.errormsg = "Incorrect Address Information"  ;    
        }
    }
  },
  // life cycle hooks
  created(){
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
